@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


:root{
  --orange:#ffa500;
}
body{
  overflow:hidden;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}
.responsive-div { 
  position: fixed;
  width: 70vw;
   height: 50vh;  
 }

*::selection{
  background:#1bb5ae;
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  padding:2.5rem 0
}

.heading span{
  font-size: 3.5rem;
  /* background:rgba(255, 165, 0,.2); */
  color:#1bb5ae;
  border-radius: .5rem;
  padding:.0rem 0.5rem;
}

.heading span.space{
  background:none;
}

.btn{
  display: inline-block;
  margin-top: 1.5rem;
  background:#1bb5ae;
  color:rgb(255, 255, 255);
  padding:.8rem 3rem;
  /* border:.2rem solid #1bb5ae; */
  cursor: pointer;
  font-size: 1.7rem;
  border-radius:0.7rem;
}

.btn:hover{
  background:#8efff9;
  color:#000000;
}

/* <------header---------> */

header{
  position: fixed;
  top:0; left: 0; right:0;
  background:#333;
  z-index: 400;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 20%;
}

header .logo{
  font-size: 2.2rem;
  font-weight: bolder;
  color:#fff;
  margin-left: 65px;
  /* text-transform: uppercase; */
}
header .logo1 img
{
   height: 39px;
   width: 39px;
    
}


header .logo span{
  margin-left: -5rem;
  font-size: 3.5rem;
  color:#1bb5ae;
}

header .navbar a{
  color:#fff;
  font-size: 1.8rem;
  margin:0 2rem;
}

header .navbar a:hover{
  color:#1bb5ae;
}

header .icons i{
  font-size: 2.5rem;
  color:#fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover{
  color:#1bb5ae;
}

header .search-bar-container{
  position: absolute;
  top:100%; left: 0; right:0;
  padding:1.5rem 2rem;
 
  border-top: .1rem solid rgba(255,255,255,.2);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
  width:100%;
  padding:1rem;
  text-transform: none;
  color:#333;
  font-size: 1.7rem;
  border-radius: .5rem;
}

header .search-bar-container label{
  color:#fff;
  cursor: pointer;
  font-size: 3rem;
  margin-left: 1.5rem;
}

header .search-bar-container label:hover{
  color:#1bb5ae;
}
#-------togle-------

.togg
{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4070f4;
  transition: all 0.3s ease-in-out;
}
.togg.dark
{
  background-color: #18191a;
}
.togg .toggle {
  position: relative;
  height: 130px;
  width: 300px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.togg .toggle::before {
  content: "";
  position: absolute;
  height: 110px;
  width: 110px;
  background: #4070f4;
  border-radius: 50%;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.togg .toggle.active::before {
  background-color: #18191a;
  left: calc(100% - 110px - 14px);
font-family: 'Poppins', sans-serif;
}


/* <------login---------> */

.login-form-container{
  position: fixed;
  top:-120%; left: 0;
  z-index: 10000;
  min-height: 100vh;
  width:100%;
  background:rgba(0,0,0,.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container.active{
  top:0;
}

.login-form-container form{
  margin:2rem;
  padding:1.5rem 2rem;
  border-radius: .5rem;
  background:#fff;
  width:50rem;
}

.login-form-container form h3{
  font-size: 3rem;
  color:#444;
  text-transform: uppercase;
  text-align: center;
  padding:1rem 0;
}

.login-form-container form .box{
  width:100%;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  margin:.6rem 0;
  border:.1rem solid rgba(0,0,0,.3);
  text-transform: none;
}

.login-form-container form .box:focus{
  border-color: #1bb5ae;;
}

.login-form-container form #remember{
  margin:2rem 0;
}

.login-form-container form label{
  font-size: 1.5rem;
}

.login-form-container form .btn{
  display: block;
  width:100%;
}

.login-form-container form p{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:#666;
}

.login-form-container form p a{
  color:#1bb5ae;
}

.login-form-container form p a:hover{
  color:#333;
  text-decoration: underline;
}

.login-form-container #form-close{
  position: absolute;
  top:2rem; right:3rem;
  font-size: 5rem;
  color:#fff;
  cursor: pointer;
}

#menu-bar{
  color:#fff;
  border:.1rem solid #fff;
  border-radius: .5rem;
  font-size: 3rem;
  padding:.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

/* <------Home---------> */

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content{
  text-align: center;
}

.home .content h3{
  font-size: 4.5rem;
  border-color: black ;
  color:#ffffff;
  /* text-transform: uppercase; */
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p{
  border-color: blue;
  border-radius: 1rem;
  font-size: 3rem;
  /* text-align: right; */
  color:rgb(12, 12, 12);
  padding:.3rem 0;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .video-container video{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
}

.home .controls{
  padding:1rem;
  border-radius: 5rem;
  /* background:rgba(0,0,0,.7); */
  position: relative;
  top:10rem;
}

.home .controls .vid-btn{
  height:2rem;
  width:2rem;
  display: inline-block;
  border-radius: 50%;
  background:rgb(254, 254, 253);
  cursor: pointer;
  margin:0 .5rem;
}

.home .controls .vid-btn.active{
  background:#1bb5ae;
}

.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

/* <------Packages---------> */

.packages .box-container .box{
  flex:1 1 30rem;
  border-radius: 4rem;
  overflow: hidden;
  box-shadow: 0 2.5rem   1.5rem rgba(0,0,0,.1);
}

.packages .box-container .box img{
  transition: transform .5s; /* Animation */
  width: 20px;
  height: 20px;
  margin: 0 auto;
  height: 25rem;
  width:100%;
  object-fit: cover;
}
.packages .box-container .box img:hover{
  transform: scale(1.1);
}

.packages .box-container .box .content{
  padding:2rem;
}

.packages .box-container .box .content .btn{
  border-radius:0.9rem;
}
.packages .box-container .box .content h3{
  font-size:2rem;
  color:#333;
}

.packages .box-container .box .content h3 i{
  color:#1bb5ae;
}
.packages .box-container .box .content h3 a :target{
  scroll-behavior: smooth;
}
.packages .box-container .box .content p{
  font-size:1.7rem;
  color:#666;
  padding:1rem 0;
}

.packages .box-container .box .content .stars i{
  font-size:1.7rem;
  color:#1bb5ae;
}

.packages .box-container .box .content .price{
  font-size: 2rem;
  color:#333;
  padding-top: 1rem;
}

.packages .box-container .box .content .price span{
  color:#666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

/* <------Services---------> */

.services .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.services .box-container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  padding:1rem;
  text-align: center;
}

.services .box-container .box i{
  padding:1rem;
  font-size: 5rem;
  color:#1bb5ae;
}

.services .box-container .box h3{
  font-size: 2.5rem;
  color:#333;
}

.services .box-container .box p{
  font-size: 1.5rem;
  color:#666;
  padding:1rem 0;
}

.services .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  
}

          /* About */
.About img{
  width: 100%;
    height: 50rem;
}
.About .img22{
    margin-left: 47rem;
    position: absolute;
    width: 50%;
    
}


/* <------Contact---------> */

.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

.contact .row .image{
  flex:1 1 35rem;
}

.contact .row .image img{
  width:90%;
}

.contact .row form{
  flex:1 1 50rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}

.contact .row form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputBox input, .contact .row form textarea{
  width:49%;
  margin:1rem 0;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  background:#f7f7f7;
  text-transform: none;
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
  width:100%;
}

.brand-container{
  text-align: center;
}

/* <------Footer---------> */

.footer{
  background:#333;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:.7rem 0;
  color:#fff;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:.7rem 0;
  color:#eee;
}

.footer .box-container .box a:hover{
  color:#1bb5ae;
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  padding:2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color:#fff;
  border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
  color:#1bb5ae;
}
















/* media queries  */

@media (max-width:1200px){

  html{
    font-size: 55%;
  }

}

@media (max-width:991px){

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; right:0; left: 0;
    background: #333;
    border-top: .1rem solid rgba(255,255,255,.2);
    padding:1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding:1.5rem;
    margin:1.5rem 0;    
    background:#222;
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading span{
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input{
    width:100%;
  }

}